body {
  background-color: antiquewhite;
}

:root {
  --color-primary: #63abf8;
  --color-secondary: #516ae4;
  --color-tertiary: #1d67d7;
  --color-quaternary: #3854f064;
  --color-quinary: #2814e1;
}

#title {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: "bungee", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
  color: var(--color-primary);
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
    0% {
      text-shadow: none;
    }
    10% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    20% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    30% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    40% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    50% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    60% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
        12px 12px 0 var(--color-quinary);
    }
    70% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
    }
    80% {
      text-shadow: 3px 3px 0 var(--color-secondary),
        6px 6px 0 var(--color-tertiary);
    }
    90% {
      text-shadow: 3px 3px 0 var(--color-secondary);
    }
    100% {
      text-shadow: none;
    }
  }
  
  @keyframes move {
    0% {
      transform: translate(0px, 0px);
    }
    40% {
      transform: translate(-12px, -12px);
    }
    50% {
      transform: translate(-12px, -12px);
    }
    60% {
      transform: translate(-12px, -12px);
    }
    100% {
      transform: translate(0px, 0px);
    }
}

#color-palette {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.color {
  margin: 2px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}

#pixel-board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin: 1px;
  box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.6);
  border-radius: 6px;
}

#clear-board {
  padding: 5px 10px;
  font-size: 0.9em;
  background: '#fff';
  display: block;
  max-width: 100px;
  margin: 10px auto;
  cursor: pointer;
  border-color: #fff;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

#generate-board {
  padding: 5px 10px;
  font-size: 0.9em;
  background: '#fff';
  margin: 2px;
  cursor: pointer;
  border-color: #fff;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.vqv-board {
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
