body {
  background-color: antiquewhite;
}

h1 {
  text-align: center;
}

#color-palette {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 50px;
}

.color {
  margin: 2px;
  border: 1px solid black;
  width: 40px;
  height: 40px;
}

#pixel-board {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  margin: 20px auto;
}

.pixel {
  border: 1px solid black;
  width: 40px;
  height: 40px;
  margin: 1px;
}

#clear-board {
  padding: 5px 10px;
  font-size: 0.9em;
  background: '#fff';
  display: block;
  max-width: 100px;
  margin: 10px auto;
  cursor: pointer;
  border-color: #fff;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

#generate-board {
  padding: 5px 10px;
  font-size: 0.9em;
  background: '#fff';
  margin: 2px;
  cursor: pointer;
  border-color: #fff;
  border-radius: 50%;
  border: 1px solid black;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.6);
}

.vqv-board {
  width: 100%;
  height: 50px;
  align-items: center;
  display: flex;
  justify-content: center;
}
